.grid{
	position:relative;
	overflow:hidden;
	
	background-color:#fff;
}
.grid  .view{
	width:100%;
	height:100%;
	overflow:auto;
	position:relative;
	background-color:#ddd;
}
.grid  .viewHeader{	
	position:absolute;
	top:0;
	left:0;
	z-index:4;

	width:100%;
	overflow:hidden;
}
.grid  .header{
	white-space:nowrap;
	width:10000px;
	float:left;
}
.grid  .header>div{
	float:left;
	
}
.grid thead td{height:20px;}
.grid .header1{
	position:relative;
	z-index:2;
}
.grid .header1{
	position:relative;
	z-index:1;
}
.grid  .viewBody{
	position:relative;
}
.grid  .header table {
	table-layout:fixed;
	width:10px;
	border-collapse:collapse;
}
.grid  .viewBody >table{
	table-layout:fixed;
	width:10px;
	border-collapse:separate;
	
	border-spacing:0;
	border-width:1px 0 0 0;
	border-style:solid;
}
.grid  .viewBody  td.cell{
	position:relative;
	z-index:1;
}
.grid  .viewBody  thead  td.cell{
	white-space:nowrap;
}
.grid   td.frozen{
	z-index:2;
}

.grid   td>.cellBorder{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	z-index:3;
	border-width:1px;
	border-style:hidden solid solid hidden;
	box-sizing:border-box;
}

.grid   td.first .cellBorder{
	border-style:hidden solid solid solid;
}
.grid   td  .cellContent{
	position:relative;
	top:0;
	left:0;
	z-index:4;
}


.grid td.rowNoCol{
	width:30px;
}
.grid td.chkCol{
	width:30px;
}



.grid  .viewBody thead{
	visibility:hidden;
}



.grid  .nowrap>table>tbody>tr>td{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
/*col-resizer*/
.grid  .col-resizer{
	width:6px;
	padding-left:6px;
	height:100%;
	position:absolute;
	top:0;
	right:-6px;
	z-index:2;
}
.grid  .col-resizer:hover{
	cursor:col-resize;
	z-index:10000px;
}
.grid  .col-resizer span{
	height:1500px;
	
	
}
.grid  .col-resizer.active{
	z-index:10000;
}

.grid  div.refLine{
	position:absolute;
	z-index:10001;
	left:5px;
	top:0;
	bottom:0;	
	border-left:1px dashed red;
	width:0px;
	display:none;
	background-color:transparent;
}