.grid{
	position:relative;
	overflow:hidden;
	
	background-color:#fff;
}
.grid thead td{
	height:20px;
}

.grid table{
	table-layout:fixed;
	width:10px;
	border-collapse:collapse;
	/*table-layout:fixed;*/
}
.view,.veiwHeader,.header,.header>div,.viewBody,.viewBody>div{
	background-color:inherit;
}
.view{
	width:100%;
	height:100%;
	overflow:auto;
	position:relative;
	background-color:#ddd;
}
.viewBody{
	position:relative;
}
.content1{
	position:absolute;
	top:0;
	left:0;
	background-color:red;
	z-index:2;
}
.content2{
	background-color:green;
}
.grid thead th{
	position:relative;
}
.grid th.rowNoCol{
	width:30px;
}
.grid th.chkCol{
	width:30px;
}
.veiwHeader{	
	position:absolute;
	top:0;
	left:0;
	z-index:4;
	
	background-color:#fff;
	width:100%;
	overflow:hidden;
}
.header{
	white-space:nowrap;
	width:10000px;
}
.header>div{
	float:left;
	position:relative;
	background-color:#fff;
}
.header1{
	z-index:2;
}
.header2{
	z-index:1;
	
}

.viewBody thead{
	/*visibility:hidden;*/
}



.nowrap>div>table>tbody>tr>td{
	white-space:nowrap;
}
/*col-resizer*/
.col-resizer{
	width:6px;
	padding-left:6px;
	height:100%;
	position:absolute;
	top:0;
	right:-6px;
	z-index:2;
}
.col-resizer:hover{
	cursor:col-resize;
	z-index:10000px;
}
.col-resizer span{
	height:1500px;
	
	
}
.col-resizer.active{
	z-index:10000;
}

div.refLine{
	position:absolute;
	z-index:10001;
	left:5px;
	top:0;
	bottom:0;	
	border-left:1px dashed red;
	width:0px;
	display:none;
	background-color:transparent;
}